
<div class="addBus-container">
  <form [formGroup]="addBusForm" (submit)="AddBus()">
    <div class="login-form">
    <div class="form-group">
      <label for="busName">Bus Name</label>
      <input
      type="text"
      id="busName"
      placeholder="Enter the Bus Name"
      formControlName="busName"
      class="form-control"/>
    </div>

      <div class="form-group">
        <label for="busNo">Bus Number</label>
        <input
        type="text"
        id="busNo"
        placeholder="Enter the Bus Number"
        formControlName="busNo"
        class="form-control"/>
      </div>

        <div class="form-group">
          <label for="fromPlace">From Place</label>
          <input
          type="text"
          id="fromPlace"
          placeholder="Enter the From Place"
          formControlName="fromPlace"
          class="form-control"/>
        </div>

          <div class="form-group">
            <label for="toPlace">To Place</label>
            <input
            type="text"
            id="busName"
            placeholder="Enter the To Place"
            formControlName="toPlace"
            class="form-control"/>
          </div>

            <div class="form-group">
              <label for="boardingTime">Boarding Time</label>
              <input
              type="text"
              id="boardingTime"
              placeholder="Enter the Boarding Time"
              formControlName="boardingTime"
              class="form-control"/>
            </div>

              <div class="form-group">
                <label for="reachingTime">Reaching Time</label>
                <input
                type="text"
                id="reachingTime"
                placeholder="Enter the Reaching Time"
                formControlName="reachingTime"
                class="form-control"/>
              </div>

    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Add Bus</button>
      <span 
   *ngIf="!addBusForm?.valid && addBusForm?.touched"
   class="help-block">Please Enter valid Bus Details.</span>
    </div>
  </div>
  </form>

</div>