<nav class="navbar navbar-dark bg-primary navbar-expand">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/user">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">View Tickets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
<div class="row">
  <div class="col-xs-12 col-md-8"></div>
<div class="viewContainer">

  <div *ngFor="let bus of buses; let busId = index" class="bus-card">
  <h2>{{ bus.busName }}</h2>
  <p>Bus Number: {{ bus.busNo }}</p>
  <p>From: {{ bus.fromPlace }}</p>
  <p>To: {{ bus.toPlace }}</p>
  <p>Boarding Time: {{ bus.boardingTime }}</p>
  <p>Reaching Time: {{ bus.reachingTime }}</p>
  <button class="btn btn-primary" (click)="viewSeats(bus.busId)">View Seats</button>
</div>

</div>
</div>