
<div class="container">
  <!-- <h2>Bus Seat Booking</h2> -->

  <!-- Lower Single Seats -->

  <div class="seats">
  <div class="seat-container">
      <label *ngFor="let seat of lowerSingleSeats" 
      class="seat" 
      [class.booked]="seat.seatStatus === 'booked'" 
      [class.available]="seat.seatStatus === 'Available'"
      [class.selected]="seat.seatStatus === 'selected'" 
      [class.ladies]="seat.seatStatus === 'ladies'">
          <input type="checkbox" [disabled]="seat.seatStatus === 'booked'" 
          [value]="seat.name" 
          (change)="toggleSeatStatus(seat)">
          {{ seat.name }}
      </label>
  </div>

  <!-- Single Upper Berth Seats -->
  <div class="seat-container">
      <label *ngFor="let seat of singleUpperBerthSeats"
       class="berth" 
       [class.booked]="seat.seatStatus === 'booked'" 
       [class.available]="seat.seatStatus === 'Available'" 
       [class.selected]="seat.seatStatus === 'selected'"
       [class.ladies]="seat.seatStatus === 'ladies'">
          <input type="checkbox" 
          [disabled]="seat.seatStatus === 'booked'" 
          [value]="seat.name" 
          (change)="toggleSeatStatus(seat)">
          {{ seat.name }}
      </label>
  </div>

  <!-- Double Lower Berth Seats -->
  <div class="seat-container">
      <label *ngFor="let seat of doubleLowerBerthSeats" 
      class="berth" 
      [class.booked]="seat.seatStatus === 'booked'" 
      [class.available]="seat.seatStatus === 'Available'" 
      [class.selected]="seat.seatStatus === 'selected'"
      [class.ladies]="seat.seatStatus === 'ladies'">
          <input type="checkbox" 
          [disabled]="seat.seatStatus === 'booked'" 
          [value]="seat.name" 
          (change)="toggleSeatStatus(seat)">
          {{ seat.name }}
      </label>
  </div>

  <!-- Double Upper Berth Seats -->
  <div class="seat-container">
      <label *ngFor="let seat of doubleUpperBerthSeats" 
      class="berth" 
      [class.booked]="seat.seatStatus === 'booked'" 
      [class.available]="seat.seatStatus === 'Available'" 
      [class.selected]="seat.seatStatus === 'selected'"
      [class.ladies]="seat.seatStatus === 'ladies'">
          <input type="checkbox" 
          [disabled]="seat.seatStatus === 'booked'" 
          [value]="seat.name" 
          (change)="toggleSeatStatus(seat)">
          {{ seat.name }}
      </label>
  </div>
</div>
<br>
<br>
<div *ngIf="(selectedSeats.length > 0) && (isAdmin)">
  <h3>Selected Seats</h3>
  <ul>
    <li *ngFor="let seat of selectedSeats">{{ seat.name }}</li>
  </ul>
  <button class="btn btn-primary"(click)="bookSelectedSeats()">Book Seats</button>
</div>

</div>
