
.seats {
  width: 400px;
  height: 750px;
  /* border: solid black; */
  display: flex;
  justify-content: center; 
  column-gap: 10px;
  background-color: #E0E0E0;
}

.ctnr{
  display:flex;
}

.seat-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
   /* Set a height for the container if needed */
  
}

/* Add styles for individual seats */
.seat {
  width: 60px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 5px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  
}

.berth {
  width: 65px; /* Adjust the width as needed */
  height: 110px; /* Adjust the height as needed */
  margin: 5px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;

}
/* Add styles for seat statuses */
.booked {
  background-color: #FF5733; 
  cursor: not-allowed;
}

.available {
  background-color: #ffffff; 
}

.ladies {
  background-color: #FFC0CB; 
}

.selected {
  background-color: #66CDAA; 
}

.legend {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px;
  max-width: 300px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}