
.seats {
  width: 400px;
  height: 750px;
  border: solid black;
  display: flex;
  justify-content: center; 
  column-gap: 10px;
}

.seat-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
   /* Set a height for the container if needed */
  
}

/* Add styles for individual seats */
.seat {
  width: 60px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  margin: 5px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  
}

.berth {
  width: 65px; /* Adjust the width as needed */
  height: 110px; /* Adjust the height as needed */
  margin: 5px; /* Adjust the margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;

}
/* Add styles for seat statuses */
.booked {
  background-color: #ff0000; /* Red for booked seats */
  cursor: not-allowed;
}

.available {
  background-color: #00ff00; /* Green for available seats */
}

.ladies {
  background-color: #ff99cc; /* Pink for ladies seats */
}

.selected {
  background-color: gray; 
}